# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = pd.read_csv("../../Part 1 - WeatherPy/output_data/cities_data.csv")
cities = cities.drop(columns=['Unnamed: 0'])
cities.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Alice Springs,-23.70,133.88,23.89,15,37,3.60,AU,1601249813
1,Husavik,66.04,-17.34,6.00,100,75,2.60,IS,1601249813
2,Hambantota,6.12,81.12,26.38,80,57,6.28,LK,1601249814
3,Sontra,51.07,9.93,9.44,95,88,0.26,DE,1601249814
4,Neepawa,50.23,-99.47,13.00,54,75,10.80,CA,1601249814

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#Configure gmaps
gmaps.configure(api_key="g_key")

In [4]:
#Set locations for gmap based on latitude and longitude
hum_locations = cities[["Lat", "Lng"]]

#Set humidity variale for heat layer
humidity = cities["Humidity"].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(hum_locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#Set up dataframe for temperatures between 25 and 15 degrees celsius,
#winds less than 15 kmh and zero cloudiness.

cities = cities[cities["Cloudiness"] <= 0]
cities = cities[cities["Wind Speed"] <= 15]
cities = cities[cities["Max Temp"] >= 15]
cities = cities[cities["Max Temp"] < 25]
cities

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
11,Sundargarh,22.12,84.03,23.23,80,0,0.93,IN,1601249818
60,Wana,32.30,69.57,18.58,39,0,1.06,PK,1601249843
111,Ibipeba,-11.64,-42.01,20.92,47,0,3.18,BR,1601249867
135,Ibrā’,22.69,58.53,23.66,59,0,1.10,OM,1601249880
150,Abhā,18.22,42.51,19.00,22,0,2.79,SA,1601249887
205,Talavera de la Reina,39.96,-4.83,15.39,41,0,2.01,ES,1601249910
219,Karpathos,35.51,27.21,23.00,73,0,1.08,GR,1601249916
269,Talwāra,31.95,75.87,22.46,50,0,1.87,IN,1601249939
315,Caravelas,-17.71,-39.25,22.22,86,0,2.75,BR,1601249960
331,Sebina,-20.87,27.25,17.64,66,0,4.76,BW,1601249967
342,Erbil,36.19,44.01,24.55,25,0,2.07,IQ,1601249884
345,Vieira de Leiria,39.87,-8.93,17.78,93,0,0.50,PT,1601249973
404,Rairangpur,22.27,86.18,23.02,90,0,0.98,IN,1601249998
424,Vallenar,-28.57,-70.76,15.42,46,0,0.17,CL,1601250011
444,Jāwā,31.85,35.94,23.00,56,0,2.02,JO,1601250020
456,Rikitea,-23.12,-134.97,23.68,79,0,5.41,PF,1601250025
458,Çan,40.03,27.05,17.22,82,0,2.10,TR,1601250027
471,Valparaíso,-33.04,-71.63,15.00,72,0,1.00,CL,1601250032
483,Alaca,40.17,34.84,15.06,84,0,2.10,TR,1601250037
535,Nador,35.17,-2.93,19.00,77,0,1.31,MA,1601249459

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = cities

In [7]:
#Set up gmaps place finder
target_type = "hotel"
target_radius = 5000
gkey = "AIzaSyC-D-R4df1mFI5mLuPUglOm8qXodoKyPV8"
target_search = "hotel"

Lat = hotel_df["Lat"]
Lng = hotel_df["Lng"]
Hotel_Name = []

for index, row in hotel_df.iterrows():
    Lat = row["Lat"]
    Lng = row["Lng"]
    target_coordinates = (f"{Lat},{Lng}")

    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": gkey
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)

    places_data = response.json()
    try:
        Hotel_Name.append(places_data["results"][0]["name"])
    except IndexError:
        Hotel_Name.append("N/A")
        

#Add hotels list to Hotel dataframe      
hotel_df["Hotel Name"] = Hotel_Name

In [8]:
hotel_df = hotel_df[hotel_df["Hotel Name"]!= "N/A"]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
11,Sundargarh,22.12,84.03,23.23,80,0,0.93,IN,1601249818,Hotel Sujata residency
60,Wana,32.30,69.57,18.58,39,0,1.06,PK,1601249843,United Bank Limited
111,Ibipeba,-11.64,-42.01,20.92,47,0,3.18,BR,1601249867,Pousada
135,Ibrā’,22.69,58.53,23.66,59,0,1.10,OM,1601249880,Ibra Hotel
150,Abhā,18.22,42.51,19.00,22,0,2.79,SA,1601249887,Sarawat Park Hotel & Resort
205,Talavera de la Reina,39.96,-4.83,15.39,41,0,2.01,ES,1601249910,Puerto Costa Azul
219,Karpathos,35.51,27.21,23.00,73,0,1.08,GR,1601249916,Althea Boutique Hotel - Karpathos Island
269,Talwāra,31.95,75.87,22.46,50,0,1.87,IN,1601249939,kesri hotel and restaurant
315,Caravelas,-17.71,-39.25,22.22,86,0,2.75,BR,1601249960,Pousada Encanto Abrolhos
331,Sebina,-20.87,27.25,17.64,66,0,4.76,BW,1601249967,Kuminda Farm
342,Erbil,36.19,44.01,24.55,25,0,2.07,IQ,1601249884,Divan Erbil Hotel
345,Vieira de Leiria,39.87,-8.93,17.78,93,0,0.50,PT,1601249973,Hotel Cristal Vieira Praia & SPA
404,Rairangpur,22.27,86.18,23.02,90,0,0.98,IN,1601249998,Hotel OP Palace
424,Vallenar,-28.57,-70.76,15.42,46,0,0.17,CL,1601250011,Hotel Esmeralda Limitada
444,Jāwā,31.85,35.94,23.00,56,0,2.02,JO,1601250020,Opal Hotel
456,Rikitea,-23.12,-134.97,23.68,79,0,5.41,PF,1601250025,Pension Maro'i
458,Çan,40.03,27.05,17.22,82,0,2.10,TR,1601250027,Can Municipality Thermal Hotel
471,Valparaíso,-33.04,-71.63,15.00,72,0,1.00,CL,1601250032,WineBox Valparaiso
535,Nador,35.17,-2.93,19.00,77,0,1.31,MA,1601249459,"Hotel Marchica Lagoon Resort, Nador Morocco"

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))